/* .App {
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f2c34;
  max-width: 320px;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.App-body {
  background-color: #131b23;

  max-width: 320px;

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  color: white;
}

.App-link {
  color: #01bea5;
}
img {
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  max-width: 50px;
  margin: 14px 14px 10px 14px;
}
/* table {
  /* border: 0ch;
  max-width: 320px;
  max-height: 100px; */
table1 {
  min-width: 600px;
  max-width: 600px;
}
.name {
  margin: 02px;
  max-width: 150px;
  min-width: 150px;
  font-size: 1.2em;
  font-style: normal;
}
.message {
  margin: 0px 0px 0px 0px;
  font-size: medium;
  color: #87929c;
  max-width: 150px;
  min-width: 150px;
  max-height: 21px;
}

.dayofmessage {
  /* margin: 0px 0px 20px 80px; */
  font-size: small;
  color: #87929c;
  min-width: 75px;
  max-width: 75px;
  max-height: 100px;
  margin-top: -13px;
}
.tdofeditor {
  color: #2bd639;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  min-width: 600px;
}
input_image {
  margin: 100px 100px 0px 0px;
}
editor {
  color: #ffffff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
